<p class="h1"> <i>Task</i></p>
<table class="table table-striped">
  <tr>
 <!--   <td>taskid</td>
    <td><input type="number" [(ngModel)]="task.taskid"/></td>
  </tr>-->
  <tr>
    <td>name</td>
    <td><input type="text" [(ngModel)]="task.name"/></td>
  </tr>
  <tr>
      <td>description</td>
      <td><input type="text" [(ngModel)]="task.description"/></td>
    </tr>
  <tr>
   <!-- <td>teamid</td>
    <td><input type="number" [(ngModel)]="task.teamid"/></td>
  </tr>-->
  <tr>
    <td>date assigned</td>
    <td><input type="date" [(ngModel)]="task.dateassigned"/></td>
  </tr>

  <tr>
    <td>due date</td>
    <td><input type="date" [(ngModel)]="task.duedate"/></td>
  </tr>
  <tr>
      <td>status</td>
      <td><input type="text" [(ngModel)]="task.status"/></td>
    </tr>
    
    <tr>
        <td><button type="button" class="btn btn-success btn-lg" (click)="onUpdate()">Update</button></td>
    <!--    <td><button type="button" class="btn btn-success btn-lg" (click)="oncreate()">Create</button></td>-->
           
        <td></td>
      </tr>
</table>