<form #f="ngForm" (ngSubmit)="onRegister(f)">
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control" [(ngModel)]="user.name" name="user.name" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" [(ngModel)]="user.email" name="user.email" #email="ngModel" required ><br>
    <span *ngIf="email.error?.required"> email required!</span>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Contact</label>
    <input type="phone" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Address</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">City</label>
    <input type="text" class="form-control">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlSelect1">State</label>
    <select class="form-control">
      <option>	Andhra Pradesh</option>
      <option>	Arunachal Pradesh</option>
     <option>	Assam</option>
     <option>	Bihar</option>
     <option>	Chhattisgarh</option>
     <option>	Goa</option>
     <option>	Gujarat</option>
     <option>Haryana</option>
     <option>	Himachal Pradesh</option>
     <option>Jammu and Kashmir</option>
     <option>	Jharkhand</option>
     <option>	Karnataka</option>
     <option>Kerala</option>
     <option>	Madhya Pradesh</option>
     <option>Maharashtra</option>
     <option>	Manipur</option>
     <option>Meghalaya</option>
     <option>Mizoram</option>
     <option>Nagaland</option>
     <option>Odisha</option>
     <option>Punjab</option>
     <option>Rajasthan</option>
     <option>Sikkim</option>
     <option>	Tamil Nadu</option>
     <option>Telangana</option>
     <option>Tripura</option>
     <option>	Uttar Pradesh</option>
     <option>Uttarakhand</option>
     <option>	West Bengal</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Qualification</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Platform</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Domain</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Username</label>
    <input type="text" class="form-control" [(ngModel)]="user.username" name="user.username" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Password</label>
    <input type="password" class="form-control" [(ngModel)]="user.password" name="user.password" required>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
    </div>
  </div>
</form>