li{
    align-self: center;
}
a
{
    text-decoration: none;
    color: white;
    display: block;
    margin: 0;
    padding: 10px 20px;
}


.activelink:visited {
    color: aqua;
  }
  .activelink:hover {
    color: rgb(23, 228, 132);
  }
  .activelink:active {
    color: red;
  }

.sidemenu
{
    margin: 0;
    padding: 0;
    /* position: absolute;
    left: 0;
    top: 0; */
    /* width: 10%; */
    height: 100vh;
    background: #1C2331;
    color: white;
    /* border-right: 2px solid white; */
    /*margin-right: 5px;*/
}

.sidemenu ul
{
    
    align-self: center;
    list-style: none;
}

.sidemenu ul li
{
   /* display: block;*/
   align-content: center;
   font-size: 20px;
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    /*border-top: 1px solid #666666;*/
    cursor: pointer;
    transition: 0.2s linear;
}



.sidemenu ul li:hover
{
   font-size: large;
    transition: 0.1s ease-out;
}

.logo_img
{
    max-width: 128px;
    padding: 10px;
    padding-bottom: 0;
}

.sidemenu h1
{
    margin: 0;
    padding: 10px;
    font-size: .7rem;
    font-weight: bold;
    color:rgb(248, 103, 45);
    padding-top: 2px;    
}
.li{

    color: #ff8a65;
}