<table>
  <tr>
    <td>FileID </td>
    <td><input type="file" [(ngModel)]="file.file_id"></td>
  </tr>
  <tr>
    <td>Name</td>
    <td><input type="text" [(ngModel)]="file.filename" ></td>
  </tr>
  <tr>
    <td>type</td>
    <td><input type="text"[(ngModel)]="file.type" ></td> 
   </tr>
   <tr>
     <td>
       <input type="number" [(ngModel)]="file.size"> 
     </td>
   </tr>
  <tr>
    <td><button>Upload</button></td>
    <td></td>
  </tr>
  <tr>
    <td>name</td>
    <td><input type="text" [(ngModel)]="user.name" /></td>


</table>