<strong>{{project.projectname}}</strong>
<p class="h1"> <i>Task</i></p>
<table class="table-borderless">
  <tr>
    <th>name</th>
    <th>description</th>
    <th>dateassigned</th>
    <th>duedate&nbsp;&nbsp;&nbsp;</th>
    <th>status</th>
    <th> File to Upload </th>
    <th>&nbsp;</th>
  </tr>

  <tr>

    <td><span style="cursor: pointer"> {{task.name}}</span></td>
    <td>{{task.description}}</td>
    <td>{{task.dateassigned}}</td>
    <td>{{task.duedate}}&nbsp;</td>
    <td>{{task.status}}</td>

    <input #file type="file" style="margin-top: 12px"> <button class="btn btn-secondary btn-sm " style="float:right"
      (click)="onUploadFile()">Upload</button><br>
  </tr>

  <button type="button" class="btn btn-secondary btn-lg" (click)="ontaskEdit()">Edit</button>

  <!--<button  class="btn btn-secondary btn-lg " style="float:right"(click)="onUploadFile()">Upload</button>-->



</table>

<!--<h3>Files</h3>
<div *ngFor="let f of files">
  <div class="file">
    <div class="filename">{{f.filename}} </div>
    <div class="datetime">{{formatDate(f.datetime)}}</div>
    <a href="{{baseurl}}download?id={{f._id}}"><i class="fas fa-download"></i></a>
  </div>
</div>
-->
<table class="table-borderless">
  <tr>
    <th scope="col">Files</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  <tr>
    <div *ngFor="let f of files">
    <td><div class="filename">{{f.filename}} </div></td>
    <td><div class="datetime">{{formatDate(f.datetime)}}</div></td>
    <td><a href="{{baseurl}}download?id={{f._id}}"><i class="fas fa-download"></i></a></td> 
  </div>
  </tr>
</table>



<p class="h1"> <i>members</i></p>
<table class="table">
  <tr>
  <tr>
    <!-- <th>id</th> -->
    <th>Member Name</th>
    <th>&nbsp;</th>
  </tr>

  <tr *ngFor="let user of task.members">
    <!-- <td>{{user}}</td> -->
    <td><span *ngIf="membermap[user]">{{membermap[user].name}}<br />{{membermap[user].email}}</span></td>
    <td><button *ngIf="session.currentProject.projectmanager===session.loggedinuser._id " class="btn btn-sm btn-danger"
        (click)="onRemove(user)">&times;Remove</button></td>

  </tr>
  <!-- <input type="text"    [(ngModel)]="membername" /> -->
</table>




<div *ngIf="session.usermode==='ADMIN' || session.currentProject.projectmanager===session.loggedinuser._id">
  <h3>Add New Members</h3>
  <span *ngFor="let u of users" style="margin-left: 20px;">
    <input type="checkbox" [(ngModel)]="u.checked" #membercheckbox />{{u.name}} <br /><span style="margin-left: 20px;">{{u.email}}</span><br />
  </span>
  <!-- <select [(ngModel)]="newmemberid" size="5" multiple="true">
        <option *ngFor="let u of users" value="{{u._id}}">{{u.username}}</option>
      </select> -->

  <button type="button" class="btn btn-secondary btn-lg" (click)="onMemberAdd()">Add</button>
</div>