
<h1 @fade>Managed Projects</h1>

<div class="project-card" *ngFor="let project of manager_projects" @slideInOut>
  <h1><span  (click)="onProjectClick(project)" style='cursor:pointer'>Project : {{project.projectname}}</span></h1>
  <div style="float: right">
    <h6 style="color:red"><strong>Deadline</strong></h6><strong>{{project.dateassigned}} - {{project.duedate}}</strong>
  </div>
  <div style="clear: both"></div>
  <ng-container *ngFor="let task of project.tasks" @slideInOut>
    <div class="task-card" (click)="ontaskClick(task,project)" @slideInOut>
      <h2 style="color:rgb(248,103,45)"><strong>Task : {{ task.name }}</strong></h2>
      <h4 style="color:rgb(0,0,0)">Description:{{ task.description}}</h4>
      <h4 style="color:rgb(0,0,0)">Status:{{task.status}}</h4>
    </div>
  </ng-container>
</div>

<h1>Tasks</h1>

<div class="project-card" *ngFor="let project of projects">
  <h1>Project : {{project.projectname}}</h1>
  <div style="float: right">
      <h6 style="color:red"><strong>Deadline</strong></h6><strong>{{project.dateassigned}} - {{project.duedate}}</strong>
  </div>
  <div style="clear: both"></div>
  <ng-container *ngFor="let task of project.tasks">
    <div class="task-card" (click)="ontaskClick(task,project)"  *ngIf="isMember(task.members,user._id)">
        <h2 style="color:rgb(248,103,45)"><strong>Task : {{ task.name }}</strong></h2>
        <h4 style="color:rgb(0,0,0)">Description:{{ task.description}}</h4>
        <h4 style="color:rgb(0,0,0)">Status:{{task.status}}</h4>
    </div>
  </ng-container>
</div>