<table class=" table table-striped">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>project</th>
    <th>taskcount</th>
  </tr>
  <tr *ngFor="let user of userlist" (click)="onuserClick(user)" @slideInOut>
    <td>{{user.id}}</td>
    <td><span style="cursor: pointer">{{user.name}}</span></td>
    <td>{{user.projectname}}</td>
    <td>{{user.taskcount}}</td>
    <td><button type="button" class="btn btn-secondary btn-lg" (click)="onEdit($event,user)">Edit</button></td>
    <td><button type="button" class="btn btn-secondary btn-lg" (click)="onDelete($event,user)">Delete</button></td>
  </tr>
</table>
<td><button type="button" class="btn btn-secondary btn-lg" (click)="onNewuser()">Newuser</button></td>